@use "../abstracts/media" as *;

header {
    padding: 20px 0;

    @include desktop {
        padding: 40px 0;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        @include tablet {
            flex-wrap: nowrap;
        }

        a {
            font-size: 14px;

            @include desktop {
                margin-right: 30px;
            }
        }
    }
}